<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Restaurants" %></title>

    <%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
	<body>
		<div class="title-bar">
			<div class="top-bar-title">
				<span data-responsive-toggle="responsive-menu" data-hide-for="medium">
					<button class="menu-icon light" type="button" data-toggle></button>
				</span>
				<strong><a href='/'>Restaurant Critics</a></strong>
			</div>
			<div id="responsive-menu">
				<div class="top-bar-left">
				</div>
				<div class="top-bar-right">
					<ul class="menu">
						<li>
							<%= link_to 'manage restaurants', '/admin'  %>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class='large-12 columns'>
				<%= yield %>
			</div>
		</div>

  </body>
</html>
